<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>{% block title_html %}{% endblock %}</title>
  {% load staticfiles %}
  <link rel="icon" href="/static/images/python.ico">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  <script language="javascript" type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  {% block load_header %}
  {% endblock %}
  <style>
	@media (max-width: 1960px)
	 {#footer-down {min-height:650px;}}
	@media (max-width: 1280px)
	 {#footer-down {min-height:350px;}}
	@media only screen and (max-device-width: 480px)
	 {#footer-down {min-height:180px;}}

	#nav_color {color:#fff;background-color:#04649d}
	#footer_color {color:#fff;background-color:#026627}
	
	{% block load_css %}
	{% endblock %}
  </style>
</head>
 <body>

  <!--Nav starts-->
  <nav class='deep-purple darken-3' id='nav_color' role="navigation">
  <!--<nav id='nav_color' role="navigation">-->
	<div class="nav-wrapper container"><a id="logo-container" href="/" class="brand-logo" title="Stormy Developers"><img src='/static/images/python_logo_mod.png' style='width:1.2em; height:1.2em'></a>
	  <ul class="right hide-on-med-and-down">
	   {% if user.is_authenticated %}
		 <li class="waves-effect waves-light"><a href="{% url 'ipfsLink' %}">IpfsLink</a></li>
		 <li><a class="dropdown-button" data-beloworigin="true" data-constrainwidth="false" data-alignment="right" data-outduration="500" data-hover="true" data-activates="dropdown1">MENU<i class="material-icons right">arrow_drop_down</i></a></li>
	   {% else %}
		 <li class="waves-effect waves-light"><a href="{% url 'ipfsLink' %}">IpfsLink</a></li>
		 <li><a class="dropdown-button" data-beloworigin="true" data-constrainwidth="false" data-alignment="right" data-outduration="500" data-hover="true" data-activates="dropdown1">MENU<i class="material-icons right">arrow_drop_down</i></a></li>
	   {% endif %}
	  </ul>

  <!-- Dropdown Structure -->
  <ul id="dropdown1" class="dropdown-content blue-text">
	<li class="waves-effect"><a class='blue-text' href="#">ABCD</a></li>
	{% if user.is_authenticated %}
		{% if user.is_superuser %}
		  <li class="waves-effect"><a class='blue-text' class="waves-effect" href="/admin" target="_blank">ADMIN</a></li>
		{% endif %}
		<li class="waves-effect waves-light waves-red"><a class='blue-text' href="#">LOG OUT</a></li>
	{% else %}
		<li class="waves-effect waves-light"><a class='blue-text' href="#">LOG IN</a></li>
	{% endif %}
  </ul>

  <!--Mobile Demo-->
	  <ul id="nav-mobile" class="side-nav">
		<li class="waves-effect"><a class="blue-text" href="#">ABCD</a></li><br>
		<li class="waves-effect"><a class="blue-text" href="#">ABCD</a></li>
		{% if user.is_authenticated %}
		  {% if user.is_superuser %}
			<li class="divider"></li>
			<li class='waves-effect'><a class="blue-text" href="/admin" target="_blank">ADMIN</a></li>
		  {% endif %}
		  <li class="divider"></li>
		  <li class='waves-effect waves-red'><a class="blue-text" href="#">LOG OUT</a></li>
		{% else %}
		  <li class="divider"></li>
		  <li class='waves-effect waves-green'><a class="blue-text" href="#">LOG IN</a></li>
	   {% endif %}
	  </ul>
	  <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
	</div>
  </nav>
<!--Nav ends-->

<h3 class="header center amber-text">{% block h1 %}{% endblock %}</h3>
  <div class="section">
	<div class="container" id="footer-down">
	  {% block content %}
	  {% endblock %}
	</div>
	</div>
  <br><br>

<!--Footer-->
  <footer class="page-footer" id='footer_color'>
	<div class="container">
	  <div class="row">
		<div class="col l4 m4 s12">
		  <h5 class="white-text">Stormy Developers<sub><img src='/static/images/Stormy_white_3.png'></sub></h5>
		  <p class="grey-text text-lighten-4">We are a team of passionate developers.</p>
		</div>
		<div class="col l5 m5 s12">
		  <h5 class="white-text">Contact Us</h5>
		  <p class="white-text">For any suggestion or queries, you can drop us a mail at: <span style='color:#fff; background:#004400'>pyofey.pythonanywhere@gmail.com</span></p>
		</div>
		<div class="col l2 offset-l1 m3 s12 center">
		  <br>
		  <img class='card' src='/static/images/python_logo.png'/>
		</div>
	  </div>
	</div>
	<div class="footer-copyright">
	  <div class="container">
		<div class="row">
		  <div class="col s12 m12 l10">
			Proudly hosted on <a class="orange-text text-lighten-3" href="http://pythonanywhere.com">Pythonanywhere</a> and made with <i class="material-icons">favorite</i> by <a class="orange-text text-lighten-3" href="http://materializecss.com">MaterializeCss</a>
		  </div>
		</div>
	  </div>
	</div>
  </footer>
<!--End Footer-->

  <!--  Scripts -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
  <script type="text/javascript">
	  $(function(){
		$('.button-collapse').sideNav();
	  });
  </script>
  {% block load_js %}
  {% endblock %}
 </body>
</html>
